body{
    background-color:lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

#inp{
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
    border-radius: 5px;
    border: none;
    width: 300px;
    height:30px;
    overflow: hidden;
}
#sub{
    background-color: rgb(11, 142, 11);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    
    
}
#sub:hover{
    background-color:rgb(10, 104, 2); 
}
.card{
    margin-top: 20px;
    background: linear-gradient(rgba(0, 183, 255, 0.874),lightgrey,rgb(237, 192, 108));
    
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cityname{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.temperature{
    font-size: 2rem;

}
.display{
    font-size:1.5rem;
}
.humidity{
    font-size: 1rem;
}
.wheatherEmoji{
    font-size: 3rem;
}
.errorDisplay{
    font-size: 1.5rem;
}



